
:root {
    --main-color: #c0392b;
    --body-bg: #181616;
    --box-bg: #221f1f;
    --text-color: #ffffff;

    --nav-height: 60px;
    --space-top: 30px;
    height: 100%;
}
i {
    color:goldenrod;
    transition: 0.2s;
}
.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color:white;
}
img{
    max-width: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--body-bg);

}
.navBar{
    width:100%;
    background-color: black;  
    height:auto;
}
.navbarContainer{

   
    display:flex;
    
    /* display: grid;   
    grid:auto-flow min-content / repeat(auto-fit , minmax(10em,1fr)); */
   
    justify-content: space-between;
    padding:0  4em;
    height: 4em;

}

.logoWrap{
    /* grid-column: span 1;
    display: grid; */
    align-self: center;


}
.logoWrap i{
    color:goldenrod;
}
.logo a{
    font-size: 2em;
    font-family: 'Sen','sans-serif';
    color:#fa09aa;
}
.apex{
    color: #fa09aa;
    font-size: 2em;
}
.menuContainer{

    /* grid-column: span 3;
    display: grid;    */
    align-self: center;
    /* flex-grow: 1; */
   
}

.menuList{
   /* display: grid; */
   /* grid:auto-flow min-content / repeat(auto-fit , minmax(4em,1fr)); */
   display: flex;
   justify-content: flex-end;
 
}

.menuListItem{
   
    font-family: 'Sen','sans-serif';
    padding:0 1em;
}
.menuWrap a{
    text-transform: uppercase;
    }
.menuWrap a:hover {
    color: var(--main-color);
}

.profileWrap{
    /* grid-column: span 1; */
    color: white;
    font-family: 'Sen','sans-serif';
    /* display: grid;
    grid: auto-flow min-content / repeat(3 , minmax(5em,1fr)); */
    display:flex;
    align-items: center;
    justify-items: end;
   
   
}
.bxs-chevron-down{
    font-size: 1rem;
   
}

.profileImage{
    height: 2em;
    width:2em;
    object-fit: cover;
    border-radius: 50%;
    
    border:#4dbf00 2px dashed;
}
.profileText{
    padding:0.5em 0.5em;
    position: relative;
    display: inline-flex;
 
    

}
.profileTextHover::before{
    z-index:1;
    content: "";
    background-color:rgb(250, 179, 0);
    position: absolute;
    width:50%;
    height:100%;
    top:0;
    left:0;
    padding-left: 0.2em;
    border-radius: 5px;
   
    
}
.profileTextHover:hover::before{
    width: 100%;
}
.profileText span{
    z-index:2;
    cursor:pointer;
}
.profileSetting.activeSetting{
    top:4em;
}

.profileSetting {
    position: absolute;
    display: grid;
    z-index: 9999;
    top: -100em;
    background: rgb(255, 255, 255,0.9);
    width: auto;
    height: auto;
    padding: 2rem;
    right: 6rem;
    line-height: 2em;
    border-radius: 10px;
    transition: .3s;
    
}
.profileSetting a{
    color: black;
    font-family: "Roboto";
    font-weight: bolder;
    margin: auto;

}

.expand{
    font-size: 1em !important;
}
.toggle{
    width: 3em;
    height: 1.5em;
    background-color: white;
    border-radius: 10px;
justify-self:flex-start;
display: flex;
position:relative;
}
.toglleIcon{
   color:goldenrod;
   font-size: 1em;

}
.slider{
    background: black ;
    position: absolute;
    width: 1.5em;
    height: 1.4em;
    border-radius: 50%;
    right:1px;
    cursor: pointer;

    
    
}
.hamburgerMenu{
   
    width:2em;
    cursor: pointer;
    z-index: 99;
    display: none;
    position: relative;
    align-self:center;
    align-items: center;
  height: 30px;
  
}
.hamburger{
    position: relative;
 
}

.hamburger,
.hamburger::before,
.hamburger::after{

    height:2px;
    width:1.8rem; 
    border-radius: 0.5rem;
    background-color: white;
    transition: 0.4s;
}
.hamburger::before,
.hamburger::after{
    content: "";
    position: absolute;
    left:0;
    
    

}
.hamburger::before{
    top:-10px;
    
}
.hamburger::after{
    bottom: -10px;
}
.hamburgerMenu.active .hamburger{
background: transparent;
}
.hamburgerMenu.active .hamburger::after, 
.hamburgerMenu.active .hamburger::before
 {
    background: red;
    }

.hamburgerMenu.active .hamburger::before{
    transform-origin: top left;
    transform:rotate(45deg);
  left:6px;
}
.hamburgerMenu.active .hamburger::after{
    transform-origin: bottom left;
    transform:rotate(-45deg);
    left:6px;    
}



main{
    height: 100%;
}
.sideBar{
    height:100%;
    width:4em;
    background-color: black;
    position: fixed;
    top:0;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 2em;
}
.sideBar a{
    align-self: center;
    cursor: pointer;
}
.seachWrap {
    position: relative;

    
}
.input{
    position: absolute;
    
    
}
.leftMenuIcon{
    color:white;
   
    font-size: 2em;
    align-self: center;
    
}

.menuProfileWrap{
  display: flex;
}

#section {
    color: #4dbf00;
}
.bannerSection {
    padding-left: 4em;
}
.bannerSlideItem {
    padding-top:40%;
    position: relative;
    overflow: hidden;
}
.bannerSlideItem img {
width:100%;
position:absolute;
top:0;
left:0;
}
.itemAction {
 font-family: 'Roboto', sans-serif;

}
.bannerSlideContent {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    color:var(--text-color);
    font-family:'Sen','sans-serif';
    display: flex;
}
.itemWrap {
    padding-left:5rem;
    position:relative;
    background: rgba(0, 0, 0, 0.7);
    width:40%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.itemWrap::before{
    content: "";
    background: linear-gradient(to right , rgba(0, 0, 0, 0.7),rgba(0,0,0,0) );
    position: absolute;
    top:0;
    left:100%;
    width: 50%;
    height: 100%;   
}
.itemTitle {
    font-family: 'Bebas Neue', cursive;
    font-size: 5rem;
    line-height: 4rem;
    margin-bottom: .3rem;
    
}
.banner{
    /* padding-left: 4em; */
}
.bannerInfo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: .7em;
}
.movieInfo {
    display:flex;
    align-items: center;
    font-size: 1rem;
    margin-right: 1rem;

}
.contentDescription{
    font-size: 1rem;
    line-height: 1.2rem;
    margin-top: 2rem;
}
.itemAction {

position: relative;
margin-top: 1em;
}

.movieSlide{
    /* margin-top: 2em; */
    padding-left: 4em;

}

.carousel-nav-center {
    position:absolute;
}

.carousel-nav-center .owl-nav button i{
font-size: 4rem;
color: rgb(134, 119, 119);

}
.carousel-nav-center .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-nav-center .owl-nav  .owl-next {
right: 1px;
}
.owl-nav button i{
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: 50%;

}
.owl-nav button i:hover{
    background-color: rgba(143, 137, 123, 0.5);
    border-radius: 50%;
}

.downTransition {
    transform: translate(-3rem);
    visibility: hidden;
    transition: 0.5s ease-in-out ;
    opacity: 0;

}
.lateTrans2{
    transition-delay: 0.2s;

}
.lateTrans4{
    transition-delay: 0.4s;

}
.lateTrans6{
    transition-delay: 0.4s;

}
.lateTrans8{
    transition-delay: 0.8s;

}
.owl-item.active .downTransition {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}
.movieItem{
    display: block;
    overflow: hidden;
    padding-top: 140%;
    position: relative;
    cursor: pointer;

}
.movieItem img {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    transition: transform 0.3s ;
}
.movieItem img:hover{
    transform:scale(1.2);
    
}

.movieImg:hover + .movieContent{
    display: block;
}
.movieContent{
    position:absolute;
    bottom:0;
    left:0;
    width: 100%;
background: rgba(0, 0, 0, 0.7);
display: none;
    
}
.movieContent::before{
    
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top , rgba(0, 0, 0, 0.7),rgba(0,0,0,0) );

}

.movieInfos {
    display: flex;
    flex-wrap: wrap;
    padding-top:.7em;
    font-family: 'Roboto', sans-serif;
   
}
.movieInfo{
    font-size: .8em;
}
#cartoon{
    padding: 5em;
}
.cartoonItem{
    display: block;
    overflow: hidden;
    padding-top: 140%;
    position: relative;
    cursor: pointer;


}
.cartoonItem img {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    transition: transform 0.3s ;
} 
.cartoonItem img:hover{
    transform:scale(1.2);
    
}
.showItem{
    display: block;
    overflow: hidden;
    padding-top: 140%;
    position: relative;
    cursor: pointer;


}
.showItem img {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    transition: transform 0.3s ;
} 
.showItem img:hover{
    transform:scale(1.2);
    
}
.section{
    /* margin-top: 2em; */
    padding-left: 5em;

}
.section-header{
    padding-left: 1em;
    margin-bottom: 2em;
    margin-top: 2em;
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    border-left: 5px solid darkred;
    border-bottom: goldenrod 5px dashed;
    color:#00FFFF;
    width: 50%;
    letter-spacing: 0.08em;
}
.series{
    /* margin-top: 2em; */
    padding-left: 5em;
    

}
a{
    padding: 0;
    margin:0;
}


.owlcarousel-nav-center {
    position:absolute;
}

.owlcarousel-nav-center .owl-nav button i{
font-size: 3rem;
/* color: rgb(134, 119, 119); */

}
.owlcarousel-nav-center .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.owlcarousel-nav-center .owl-nav  .owl-next {
right: 1px;
}
.owl-nav button i{
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: 50%;

}
.owl-nav button i:hover{
    background-color: rgba(143, 137, 123, 0.5);
    border-radius: 50%;
}
footer a:hover {
    color: var(--main-color);
}

footer a.logo {
    margin-top: -2.5rem;
    display: block;
}

footer a.logo:hover {
    color: unset;
}

.socialList {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.socialItem {
    --size: 2em;
    height: var(--size);
    width: var(--size);
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: var(--text-color);
    color: var(--main-color);
    font-size: 2em;
}

.socialItem:hover {
    background-color: var(--main-color);
    color: var(--text-color);
}

.socialItem ~ .social-item {
    margin-left: 1em;
}

footer .content {
    margin-top: 1em;
}
.footHead{
    font-family: 'Bebas Neue', cursive;
}

.footerMenu {
    list-style-type: none;
    
}
.footerMenu {
    font-size: 2em;
    line-height: 2em;
}
.fotterContent b {

    font-size: 2em;
}
.footerMenu a {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.footerMenu a:hover {
    transform: translateX(5px);
}

.copyright {
    padding: 10px;
    border-top: 1px solid var(--body-bg);
    background-color: var(--box-bg);
    text-align: center;
}





@media  only screen and (max-width:1280px) {

    html{
        font-size:14px ;
    }
    .bannerSlideItem{
        padding-top: 50%;
    }
    .itemWrap{
        width:50%;
    }

}
.fotter{
   
    background: black;

background: black;
    padding-left: 6em;
    padding-top: 5em;
    padding-bottom: 5em;
    font-family: 'Roboto';
    
    

}

.row{
    background: rgba(0, 0, 0, 0.5);
    display: grid;
    grid:auto-flow min-content / repeat(auto-fit,minmax(5em,1fr));
    gap:1em;
    font-size: .7em;
    

} 
.fotterContent{
    grid-column: span 4;
    padding-top: 3em;
}
.video {
    position: absolute;
        
        right: -650%;
        background: rgb(10, 10, 10,0.6);
        flex-direction: column;
        width:100%;
        height:10em ;
        padding: 1em;
        justify-content:flex-start;
        transition: 1s;
    

    
}
.video.active1{
    right:-4em;

}





/* Resposive Designs */
@media  only screen and (max-width:850px) {
    html{
        font-size:1px;
    }
    .bannerSlideItem{
        height: max-content;
        padding-top: unset;

    }
    .itemWrap{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        padding-left: 0;
        padding-bottom: 1em;
    }
    .itemTitle{
        font-size: 3em;
    }
    .bannerSlideItem img{
        height: 100%;
    }
    .bannerSlideContent{
        position: relative;

    }
    .hamburgerMenu{
        display: grid;
    }
    .menuProfileWrap{
        
        position: absolute;
        top:4em;
        left: -100%;
        background: rgb(10, 10, 10,0.8);
        flex-direction: column;
        width:80%;
        height: 100vh;
        padding: 1em;
        justify-content:flex-start;
        transition: 1s;
        z-index: 99;
     

    }
    .profileSetting a{
        color: white;
    }
    .profileSetting{
    
    
        z-index: 9999;
        display: grid;
       background: none;
        width: auto;
        height: auto;
        padding: 0;
        margin: 0;
        line-height: 2em;
       
        position: static;
        

    
    }
    .profileText{
        display: none;
    }
    .menuList{
        flex-direction: column;
        gap: 1em;
        
        
    }

    .profileWrap{
        justify-content: center;
        margin-top: 1em;
        flex-wrap: wap;
        gap: 1em;
    }
    .profileWrap .expand {
        display: none;
    }
    .menuProfileWrap.active1{
        left:0;

    }
    .section-header{
        padding-left: 1em;
        margin-bottom: 2em;
        margin-top: 2em;
        font-family: 'Bebas Neue', cursive;
        font-size: 1.5em;
        border-left: 5px solid darkred;
        border-bottom: rgb(121, 118, 113) 5px dashed;
        color:#00FF00;
        width:max-content;
        letter-spacing: 0.08em;

    }

    
}